@-webkit-keyframes today {
  from {
    color: white;
    text-shadow: 0 0 8px white; }

  to {
    color: #dddddd;
    text-shadow: 0 0 1px white; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana, Arial, Helvetica;
  font-size: 100%;
  padding: 1em; }
  body .calendars {
    overflow: auto;
    padding-bottom: 2em; }
    body .calendars .calendar {
      float: left;
      margin-right: 2em; }
      body .calendars .calendar h2 {
        font-size: 110%;
        margin: 0 0 0.5em 0; }
      body .calendars .calendar.datetime table {
        border: 0.4em solid black;
        border-spacing: 0;
        text-align: center; }
        body .calendars .calendar.datetime table.today {
          border-color: red;
          outline: none; }
        body .calendars .calendar.datetime table a {
          color: black;
          text-decoration: none; }
        body .calendars .calendar.datetime table thead tr.date-controls {
          background: black;
          color: white; }
          body .calendars .calendar.datetime table thead tr.date-controls th {
            padding: 0.2em 0.2em 0.6em 0.2em;
            font-weight: normal;
            font-size: 80%; }
            body .calendars .calendar.datetime table thead tr.date-controls th a {
              color: white;
              display: inline-block; }
              body .calendars .calendar.datetime table thead tr.date-controls th a:hover, body .calendars .calendar.datetime table thead tr.date-controls th a:focus {
                background: white;
                color: black; }
        body .calendars .calendar.datetime table thead tr.weekdays {
          background: #eeeeee;
          color: #666666;
          font-size: 80%; }
          body .calendars .calendar.datetime table thead tr.weekdays th {
            padding: 0.2em;
            font-weight: normal; }
        body .calendars .calendar.datetime table tbody tr.week td a {
          display: block;
          padding: 0.2em 0.5em; }
          body .calendars .calendar.datetime table tbody tr.week td a:hover:not(.disabled):not(.selected):not(.empty):not(.today) {
            background: #eeeeee; }
          body .calendars .calendar.datetime table tbody tr.week td a.today {
            background: #eeeeee; }
            body .calendars .calendar.datetime table tbody tr.week td a.today:hover:not(.selected) {
              background: #cccccc; }
          body .calendars .calendar.datetime table tbody tr.week td a.selected {
            background: black;
            color: white; }
          body .calendars .calendar.datetime table tbody tr.week td a.empty {
            display: none; }
          body .calendars .calendar.datetime table tbody tr.week td a.disabled, body .calendars .calendar.datetime table tbody tr.week td a.prev-month, body .calendars .calendar.datetime table tbody tr.week td a.next-month {
            color: #999999; }
        body .calendars .calendar.datetime table tbody tr.time {
          font-size: 80%; }
          body .calendars .calendar.datetime table tbody tr.time td a {
            font-size: 80%;
            display: inline-block;
            padding: 0.2em; }
      body .calendars .calendar.time #time-only {
        background: #eeeeee;
        background: -moz-linear-gradient(bottom, #dddddd, #eeeeee);
        background: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#eeeeee));
        display: inline-block;
        padding: 0.2em 0.4em;
        -moz-border-radius: 0.4em;
        -webkit-border-radius: 0.4em;
        -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
        body .calendars .calendar.time #time-only .hour-controls, body .calendars .calendar.time #time-only .container, body .calendars .calendar.time #time-only .minute-controls {
          display: inline-block;
          vertical-align: middle; }
        body .calendars .calendar.time #time-only .container {
          background: white;
          background: -moz-linear-gradient(bottom, white, #eeeeee);
          background: -webkit-gradient(linear, left bottom, left top, from(white), to(#eeeeee));
          padding: 0.3em;
          border: 1px inset white; }
        body .calendars .calendar.time #time-only .hour-controls a, body .calendars .calendar.time #time-only .minute-controls a {
          display: block;
          text-decoration: none;
          color: #666666;
          text-shadow: 1px 1px #f8f8f8; }
        body .calendars .calendar.time #time-only .now {
          display: block;
          font-size: 70%;
          text-align: center;
          color: #666666; }
      body .calendars .calendar.date {
        font-size: 90%; }
        body .calendars .calendar.date table {
          border-spacing: 0;
          background: #333333;
          background: -moz-linear-gradient(bottom, #222222, #444444);
          background: -webkit-gradient(linear, left bottom, left top, from(#222222), to(#444444));
          padding: 0.5em;
          text-align: center;
          -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 2px 2px 5px rgba(0, 0, 0, 0.7);
          -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 2px 2px 5px black;
          border: 1px solid black;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          color: #dddddd; }
          body .calendars .calendar.date table a {
            color: #dddddd;
            text-decoration: none; }
          body .calendars .calendar.date table thead tr {
            font-size: 90%; }
            body .calendars .calendar.date table thead tr.ongabonga td {
              padding: 0.2em; }
              body .calendars .calendar.date table thead tr.ongabonga td select {
                margin: 0 0.5em; }
              body .calendars .calendar.date table thead tr.ongabonga td input.year {
                text-align: center;
                border: 1px inset #666666;
                width: 4em;
                padding: 0.1em 0;
                background: rgba(255, 255, 255, 0.5); }
            body .calendars .calendar.date table thead tr.date-controls td {
              padding: 0.3em 0; }
              body .calendars .calendar.date table thead tr.date-controls td a {
                display: inline-block;
                padding: 0.2em 0.4em;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                -webkit-transition: all 1s; }
                body .calendars .calendar.date table thead tr.date-controls td a:hover, body .calendars .calendar.date table thead tr.date-controls td a:focus {
                  background: rgba(0, 0, 0, 0.5); }
            body .calendars .calendar.date table thead tr.weekdays td {
              border-top: 1px solid black;
              border-bottom: 1px solid black; }
          body .calendars .calendar.date table tbody tr.week td a {
            display: block;
            padding: 0.3em 0.7em;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            outline: none;
            -webkit-transition: all 0.3s; }
            body .calendars .calendar.date table tbody tr.week td a:hover, body .calendars .calendar.date table tbody tr.week td a:focus {
              background: rgba(255, 255, 255, 0.2); }
            body .calendars .calendar.date table tbody tr.week td a.empty {
              display: none; }
            body .calendars .calendar.date table tbody tr.week td a.prev-month, body .calendars .calendar.date table tbody tr.week td a.next-month {
              color: rgba(255, 255, 255, 0.2); }
            body .calendars .calendar.date table tbody tr.week td a.selected, body .calendars .calendar.date table tbody tr.week td a.selected:hover, body .calendars .calendar.date table tbody tr.week td a.selected:focus {
              background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
              background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4))); }
          body .calendars .calendar.date table.today thead tr.date-controls td a.today {
            color: white;
            text-shadow: 0 0 8px white;
            -webkit-animation-name: today;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -webkit-animation-delay: 1s;
            -webkit-animation-timing-function: linear; }
  body .inputs {
    overflow: hidden;
    padding-bottom: 1em; }
    body .inputs p {
      float: left;
      margin-right: 2em; }
      body .inputs p label {
        display: block; }
    body .inputs #popup, body .inputs #popup-template {
      font-size: 70%;
      text-decoration: none;
      color: white;
      background: black;
      padding: 0.2em 0.5em; }
      body .inputs #popup.active, body .inputs #popup-template.active {
        background: red; }
    body .inputs #noinput {
      outline: none;
      background: #eeeeee;
      background: -moz-linear-gradient(bottom, #dddddd, #eeeeee);
      color: #333333;
      font-size: 70%;
      padding: 0.2em 0.5em;
      text-decoration: none;
      -moz-box-shadow: 1px 1px #333333;
      -moz-border-radius: 2px;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.7); }
      body .inputs #noinput:hover, body .inputs #noinput.active {
        background: #cccccc;
        background: -moz-linear-gradient(bottom, #bbbbbb, #cccccc);
        color: black; }
    body .inputs #text-date {
      border: 1px solid black;
      padding: 0.2em;
      -moz-box-shadow: 1px 1px #cccccc;
      -webkit-box-shadow: 1px 1px #cccccc; }
      body .inputs #text-date.active {
        border-color: red;
        -moz-box-shadow: 1px 1px #ffcccc;
        -webkit-box-shadow: 1px 1px #ffcccc; }
  body .popup-calendar {
    background: #cccccc;
    background: -moz-linear-gradient(bottom, #999999, #bbbbbb);
    border: 1px outset #bbbbbb;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 0.3em;
    font-size: 80%; }
    body .popup-calendar table {
      border-spacing: 0;
      border: 1px inset #bbbbbb; }
      body .popup-calendar table .controls a, body .popup-calendar table .controls span {
        display: inline-block;
        padding: 0 0.1em; }
      body .popup-calendar table .controls .control {
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent; }
        body .popup-calendar table .controls .control:hover, body .popup-calendar table .controls .control:focus {
          border-style: outset;
          border-color: #bbbbbb; }
      body .popup-calendar table .weekdays {
        color: rgba(0, 0, 0, 0.5); }
        body .popup-calendar table .weekdays th {
          font-weight: normal;
          border-top: 1px outset #bbbbbb;
          border-bottom: 1px outset #bbbbbb; }
          body .popup-calendar table .weekdays th:first-child {
            border-left: 1px outset #bbbbbb; }
          body .popup-calendar table .weekdays th:last-child {
            border-right: 1px outset #bbbbbb; }
      body .popup-calendar table .week td a {
        display: block;
        padding: 0.1em 0.2em;
        color: #333333;
        text-decoration: none;
        border: 1px outset #aaaaaa;
        outline: none; }
        body .popup-calendar table .week td a.selected {
          background: rgba(0, 0, 0, 0.2);
          border-style: inset;
          border-color: #888888; }
        body .popup-calendar table .week td a.empty {
          border: none; }
      body .popup-calendar table .time a, body .popup-calendar table .time span {
        display: inline-block; }
      body .popup-calendar table .time .control {
        outline: none;
        padding: 0 0.3em;
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent; }
        body .popup-calendar table .time .control.separator {
          padding: 0; }
        body .popup-calendar table .time .control:hover, body .popup-calendar table .time .control:focus {
          border-style: outset;
          border-color: #bbbbbb; }
  body .popup-template {
    display: table;
    font-size: 70%;
    background: white;
    background: -moz-linear-gradient(bottom, #f0f0f0, white);
    background: -webkit-gradient(linear, left bottom, left top, from(#f0f0f0), to(white));
    border: 1px solid #333333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
    body .popup-template .month-control, body .popup-template table {
      display: table-cell; }
    body .popup-template table {
      padding: 0.2em;
      border-spacing: 0;
      text-align: center; }
      body .popup-template table .info {
        color: #666666; }
        body .popup-template table .info td .month, body .popup-template table .info td .year {
          display: inline-block;
          padding: 0.2em; }
      body .popup-template table .week td {
        padding: 0.1em 0.2em; }
        body .popup-template table .week td:hover:not(.empty):not(.selected):not(.disabled) {
          background: rgba(0, 0, 0, 0.2);
          cursor: pointer; }
        body .popup-template table .week td.today {
          background: #eeeebb; }
        body .popup-template table .week td.selected {
          background: black;
          color: white; }
        body .popup-template table .week td.prev-month, body .popup-template table .week td.next-month {
          opacity: 0.4; }
        body .popup-template table .week td.disabled {
          color: #cc0000; }
      body .popup-template table .week:last-child td {
        margin-bottom: 0.3em; }
    body .popup-template .month-control {
      padding: 0 0.5em;
      vertical-align: middle;
      color: black;
      text-decoration: none;
      outline: none; }
      body .popup-template .month-control:hover {
        background: rgba(0, 0, 0, 0.1); }
    body .popup-template.today .week td.selected {
      background: red; }
