* {
  margin: 0;
  padding: 0;
}

html {

}

body {
  width: 50em;
  margin: auto;
}

  .calendar {
    min-width: 10em;
    margin: 1em 0;
    border: 0.4em solid #000;
    border-spacing: 0;
    text-align: center;
  }

    .calendar thead .date-controls {
      background: #000;
      color: #fff;
    }

      .calendar thead .date-controls td {
        padding-bottom: 0.4em;
      }

      .calendar thead .date-controls td span, .calendar thead .date-controls td a {
        text-decoration: none;
        display: inline-block;
        font-size: 80%;
        padding: 0.2em;
        color: #fff;
      }

      .calendar thead .date-controls td .control:hover {
        cursor: pointer;
      }

      .calendar thead .date-controls td .today.active {
        background: #fff;
        color: #000;
      }

    .calendar thead .weekdays {
      background: #eee;
    }

      .calendar thead .weekdays td {
        padding: 0.2em;
      }

    .calendar td {
      width: 2em;
    }

    .calendar .week .day {
      display: block;
      padding: 0.2em;
      text-decoration: none;
      color: #000;
      outline: none;
    }

      .calendar .week .day.selected {
        background: #000;
        color: #fff;
      }

        .calendar .week .day.selected:hover, .calendar .week .day.selected:focus {
          background: #000;
        }

      .calendar .week .day:hover, .calendar .week .day:focus {
        background: #eee;
        cursor: pointer;
      }

      .calendar .week .day.empty:hover {
        background: transparent;
        color: inherit;
        cursor: inherit;
      }

    .calendar .time {
      
    }

      .calendar .time a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-size: 80%;
      }

      .calendar .time .control.now {
        display: block;
      }

        .calendar .time .control.now.active {
          background: #000;
        }
